body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.navbar {
  background-color: white !important;
  font-weight: bold;
  position: fixed;
  width: 100%;
}

main {
  background-color: gray !important;
  
}

main p{
  color: black !important;
}


h4 {
  color: white;
}

p, a {
  color: gray;
  text-decoration: none;
}

body {
  background-color: gray;
}

p {
  margin-bottom: 0;
}

h2 {
  font-size: large;
}
h1 {
  font-size: medium;
}

#mobil {
  height: 650px;
}


footer {
  background-color: black !important;
  position: relative;
  bottom: 0;
  width: 100%;
}

.banner img {
  height: 600px;
  width: 100%;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.button {
  background-color: transparent;
}

/* index.php */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode .navbar {
  background-color: #222 !important;
}

.dark-mode .nav-link {
  color: #fff !important;
}

#dark-mode-toggle {
background-color: #555;
color: #fff;
border: 1px solid #555;
border-radius: 5px;
padding: 8px 16px;
cursor: pointer;
}

#dark-mode-toggle:hover {
background-color: #555;
}

#myButton {
  background-color: #555 !important;
  color: #fff !important;
  border: 1px solid #555 !important;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
}

#myButton:hover {
  background-color: #555 !important;
}

/* Galeria */
.dark-mode main {
  background-color: #333 !important;
}

.dark-mode p {
  color: #fff !important;
}

.dark-mode .ktosme {
  color: gray !important;
}
.dark-mode .copyright {
  color: gray !important;
}

/* FAQ */
.dark-mode .odpoved {
  color: gray !important;
}

/* Kontakt */
.dark-mode .accordion-item {
  background-color: #333; 
  border-color: #555; 
  color: #fff;
}

.dark-mode .accordion-button {
  background-color: #444; 
  color: #fff; 
}

.dark-mode .accordion-button:not(.collapsed) {
  background-color: #555; 
}

.dark-mode .accordion-body {
  background-color: #222; 
  color: #fff; 
}

/*Registracia prihlasenie*/
.registracia {
    background-color: #555 !important;
    color: #fff !important;
    border: 1px solid #555 !important;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    width: auto;
}

.prihlasenie {
  margin: 0 10px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  background-color: #fff;
}

.dark-mode .prihlasenie {
  color: #fff; 
  background-color: #222;
  border-color: #555; 
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

@media only screen and (max-width: 620px) {
  .iphone {
    height: clamp(245px, 10vw, 180px);
    width: clamp(1019px, 10vw, 954px);
    display: block;
  }
}

